<div class="flex-container">  
        <div class = "week-name">
            <a href = "https://www.google.com"> SUN </a>
        </div>
        <div class = "week-name">MON</div>
        <div class = "week-name">TUE</div>
        <div class = "week-name">WED</div>
        <div class = "week-name">THU</div>
        <div class = "week-name">FRI</div>
        <div class = "week-name">SAT</div>  
</div>
<div class="flex-container">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 01 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 02 </p>
    </div>
</div>
<div class="flex-container">
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 03 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 04 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 05 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 06 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 07 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 08 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 09 </p>
    </div>
</div>
<div class="flex-container">
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 10 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 11 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 12 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 13 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 14 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 15 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 16 </p>
    </div>
</div>

<div class="flex-container">
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 17 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 18 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 19 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 20 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 21 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 22 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 23 </p>
    </div>
</div>
<div class="flex-container">
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 24 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 25 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 26 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 27 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 28 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 29 </p>
    </div>
    <div>
        <p class = "date-details"> MAY</p>
        <p class = "date-details"> 30 </p>
    </div>
</div>